Source: ros-rolling-autoware-lanelet2-extension
Section: misc
Priority: optional
Maintainer: mitsudome-r <ryohsuke.mitsudome@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), libgeographiclib-dev, libpugixml-dev, librange-v3-dev, ros-rolling-ament-cmake-auto, ros-rolling-ament-cmake-ros <!nocheck>, ros-rolling-autoware-cmake, ros-rolling-autoware-map-msgs, ros-rolling-autoware-planning-msgs, ros-rolling-autoware-utils, ros-rolling-geometry-msgs, ros-rolling-lanelet2-core, ros-rolling-lanelet2-io, ros-rolling-lanelet2-maps, ros-rolling-lanelet2-projection, ros-rolling-lanelet2-routing, ros-rolling-lanelet2-traffic-rules, ros-rolling-lanelet2-validation, ros-rolling-rclcpp, ros-rolling-tf2, ros-rolling-tf2-geometry-msgs, ros-rolling-visualization-msgs, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-autoware-lanelet2-extension
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgeographiclib-dev, libpugixml-dev, librange-v3-dev, ros-rolling-autoware-map-msgs, ros-rolling-autoware-planning-msgs, ros-rolling-autoware-utils, ros-rolling-geometry-msgs, ros-rolling-lanelet2-core, ros-rolling-lanelet2-io, ros-rolling-lanelet2-maps, ros-rolling-lanelet2-projection, ros-rolling-lanelet2-routing, ros-rolling-lanelet2-traffic-rules, ros-rolling-lanelet2-validation, ros-rolling-rclcpp, ros-rolling-tf2, ros-rolling-tf2-geometry-msgs, ros-rolling-visualization-msgs, ros-rolling-ros-workspace
Description: The autoware_lanelet2_extension package contains libraries to handle Lanelet2 format data.
